// @import "bootstrap";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";

// $font-family-sans-serif : 'Charter', sans-serif;
// @font-face {
//     font-family: "Charter regular";
//     src: url("../assets/charter_regular-webfont.woff") format("woff");
// }

// @font-face {
//     font-family: "Colfax AI";
//     src: url("../assets/ColfaxAIBold.woff2") format("woff");
// }

$font-sizes: (
//   1: 12rem,
//   2: 10rem,
//   3: 7rem,
  4: .5rem,
  5: .85rem,
  6: .9375rem,
);

$tooltip-bg: #F4F2F0;
$tooltip-color: #999999;

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";

.navbar-collapse {
    justify-content: flex-end;
}

@media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: .75rem;
            padding-left: .5rem;
    }
    .nav-item:hover {
        background: #938b8b21;
    }
}



// Negative margins are disabled by default,
// but can be enabled in Sass.
$enable-negative-margins: true;

// Explicitly remove focus outline in Chromium when it shouldn't be
// visible (e.g. as result of mouse click or touch tap). It already
// should be doing this automatically, but seems to currently be
// confused and applies its very visible two-tone outline anyway.
// from: https://eduport.webestica.com/course-detail.html
button:focus:not(:focus-visible) {
    outline: 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.tooltip-arrow {
    display: none !important;
}

:root{
    // --bs-font-sans-serif: "Colfax AI";
    --bs-body-bg: #f8f9fa; //#f6f6f4;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospaceSFMono-Regular: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: Roboto, sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
}

.body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.accordion {
    --bs-accordion-btn-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>"))};
    --bs-accordion-btn-active-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>"))};
    --bs-accordion-btn-icon-transition: transform 0.4s linear;
    --bs-accordion-btn-icon-transform: rotate(180deg);
    --bs-accordion-active-bg: rgb(239, 238, 238);
    --bs-accordion-bg: rgb(239, 238, 238);
    --bs-accordion-btn-color: #212529;
    --bs-accordion-active-color: #212529;
    // --bs-accordion-btn-focus-border-color: #fff;
    // --bs-accordion-border-color: #fff;
    // --bs-accordion-btn-focus-box-shadow: none;
}

.card {
    --bs-card-cap-bg: rgb(255, 255, 255);
    // --bs-card-border-color: #fff ;
}

.nav-pills.nav-tabs-line .nav-link.active {
    color: #066ac9;
    background-color: rgba(6, 106, 201, 0.1);
}

.navbar {
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.socials:hover {
    background: #938b8b21;
    border-radius: 50%;
}

.hover:hover {
    background: #938b8b21;
    border-radius: 50%;
}

.hover.active {
    color: #066ac9;
    background-color: #066ac91a;
}

.bi-chevron-down {
    display: inline-block;
    transition: .5s ease-in-out
}

[aria-expanded=true] .bi-chevron-down  {
    transform: rotate(-180deg)
}


.icon-expand:hover {
    color: #066ac9;
}

// .icon-expand {
//     display: none;
// }

// .copy.switch .icon-contract{
//     display: block;
//     color: #066ac9;
// }

pre:not(:hover) .icon-expand {
    display: none;
    transition-timing-function: ease;
    transition: 0.2s;
}

.copy .icon-contract {
    display: none;
    transition-timing-function: ease;
    transition: 0.2s;
}

.copy.switch:focus .icon-expand {
    display: none;
    transition-timing-function: ease;
    transition: 0.2s;
}

.copy.switch:focus:hover .icon-contract {
    display: block;
    transition-timing-function: ease;
    transition: 0.2s;
}
 
.btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
}

.btn-danger-soft:hover {
    color: #fff;
    background-color: #d6293e;
}

.btn-round {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s linear;
}

.btn-round .fa-play {
    padding-left: 2px;
}
.fa, .fas {
    font-weight: 900;
}

// .accordion-button {
//     background: rgb(239, 238, 238);
// }

.accordion.accordion-bg-light .accordion-item {
    border: none;
    background-color: transparent;
}

.list-group-borderless .list-group-item {
    border: none !important;
    padding: 0.425rem 0;
}

// .icon-custom-books {
//     background-image: url('../assets/icons/book.png');
//     background-position: center center;
//     background-repeat: no-repeat;
//     display: inline-block;
//     height: 24px;
//     line-height: 24px;
//     width: 24px;
// }